<div class="container">
        <h3>ADD Address</h3>
    <form #userForm="ngForm" (ngSubmit)='onSubmit(userForm.value)'>     
    <!-- <div class="form-group">
        <label>Address ID: </label>
        <input required minlength="1" maxlength="5" type="number" #addressIdRef='ngModel' name="addressId" [(ngModel)]="addressId" ngModel class="form-control">
        <div *ngIf='addressIdRef.errors && addressIdRef.touched' class="alert alert-danger">
            <div [hidden]='!addressIdRef.errors.required'> Provide Address Id </div>
        </div> 
       
    </div>--->
    <div class="form-group">
        <label>Buliding Number: </label>
        <input required minlength="1" maxlength="50" type="text" #buildingnumberRef='ngModel' name="buildingnumber" [(ngModel)]="buildingnumber" ngModel class="form-control">
        <div *ngIf='buildingnumberRef.errors && buildingnumberRef.touched' class="alert alert-danger">
            <div [hidden]='!buildingnumberRef.errors.required'> provide House Number </div>
        </div>
        
    </div>
    <div class="form-group">
        <label>City: </label>
        <input required minlength="1" maxlength="30" type="text"  #cityRef='ngModel' name="city" [(ngModel)]="city" ngModel class="form-control">
        <div *ngIf='cityRef.errors && cityRef.touched' class="alert alert-danger">
            <div [hidden]='!cityRef.errors.required'> provider City </div>
        </div>
        
    </div>
    <div class="form-group">
        <label>District: </label>
        <input required minlength="1" maxlength="30" type="text" #districtRef='ngModel' name="district" [(ngModel)]="district" ngModel class="form-control">
        <div *ngIf='districtRef.errors && districtRef.touched' class="alert alert-danger">
            <div [hidden]='!districtRef.errors.required'> provide District </div>
        </div>
        
    </div>
    
    <div class="form-group">
        <label>Pincode: </label>
        <input required minlength="1" maxlength="10" type="number" #pincodeRef='ngModel' name="pincode" [(ngModel)]="pincode" ngModel class="form-control">
        <div *ngIf='pincodeRef.errors && pincodeRef.touched' class="alert alert-danger">
            <div [hidden]='!pincodeRef.errors.required'> provide Pincode </div>
        </div>
        
    </div>
    <div class="form-group">
        <label>Retailer ID: </label>
        <input required minlength="1" maxlenght="5" type="number" #retailerIdRef='ngModel' name="retailerId" [(ngModel)]="retailerId" ngModel class="form-control">
        <div *ngIf='retailerIdRef.errors && retailerIdRef.touched' class="alert alert-danger">
            <div [hidden]='!retailerIdRef.errors.required'>provide Retailer Id</div>
        </div>
       
    </div>
    <div class="form-group">
        <label>State: </label>
        <input required minlength="1" maxlength="30"  type="text" #stateRef='ngModel' name="state" [(ngModel)]="state" ngModel class="form-control">
        <div *ngIf='stateRef.errors && stateRef.touched' class="alert alert-danger">
            <div [hidden]='!stateRef.errors.required'> provide state </div>
        </div>
        
    </div>
    <div class="form-group">
        <label>Street Number: </label>
        <input required minlength="1" maxlength="50" type="text"  #streetnumberRef='ngModel' name="streetnumber" [(ngModel)]="streetnumber" ngModel class="form-control">
        <div *ngIf='streetnumberRef.errors && streetnumberRef.touched' class="alert alert-danger">
            <div [hidden]='!streetnumberRef.errors.required'>provide street number </div>
        </div>
       
    </div>
        <input  [disabled]="userForm.invalid" type="Submit" value="Add Address" class="btn btn-primary">
    </form>

<div>
    <h2>{{message}}</h2>
</div>
