<div class="container">
   
    <div class="form-group">
        <label>RETAILER ID: </label>
        <input required minlength="5" type="number" #retailerIdRef='ngModel' name="retailerId" [(ngModel)]="retailerId" ngModel class="form-control">
             <button class="btn btn-primary" (click)="tofetch(retailerId)">Submit</button>
    </div>

    <table class="table table-hover" >
        <thead>
        <tr>
            <th>ADDRESS ID</th>
            <th>RETAILOR ID</th>
            <th>HOUSE NUMBER</th>
            <th>STREET NUMBER</th>
            <th>CITY</th>
            <th>DISTRICT</th>
            
            
            
            <th>STATE</th>
            <th>PINCODE</th>
    
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of addressmanagement">  
                
                <td> {{e.addressId}} </td>
                <td> {{e.retailerId}} </td>
                <td>{{e.housenumber}}</td>
                <td> {{e.streetnumber}} </td>
                <td>{{e.city}}</td>
                <td> {{e.district}} </td>
                <td>{{e.state}}</td>
                <td>{{e.pincode}}</td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)=delete(e)>Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)=update(e)>Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
  

    