<div class="container ">
   
    <div class="form-group">
        <label>Retailer ID: </label>
        <input required minlength="1" maxlength="5" type="number" #retailerIdRef='ngModel' name="retailerId" [(ngModel)]="retailerId" ngModel class="form-control">
             <div *ngIf='retailerIdRef.errors && retailerIdRef.touched' class="alert alert-danger">
            <div [hidden]='!retailerIdRef.errors.required'>provide Retailer Id</div>
            <div *ngIf='retailerIdRef.errors.pattern'>Name should be maxmimum of 5 characters length</div>
            </div>
            <button class="btn btn-primary" (click)="tofetch(retailerId)">Submit</button>
        </div>
  
    <table class="table table-striped container" *ngIf="addressmanagement && addressmanagement.length > 0">

        <thead>
        <tr>
            <th scope="col">Address ID</th>
            <th scope="col">Retailor ID</th>
            <th scope="col">Building Number</th>
            <th scope="col">Street Number</th>
            <th scope="col">City</th>
            <th scope="col">District</th>   
            <th scope="col">State</th>
            <th scope="col">Pincode</th>
    
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of addressmanagement">  
                
                <td> {{e.addressId}} </td>
                <td> {{e.retailerId}} </td>
                <td>{{e.buildingnumber}}</td>
                <td> {{e.streetnumber}} </td>
                <td>{{e.city}}</td>
                <td> {{e.district}} </td>
                <td>{{e.state}}</td>
                <td>{{e.pincode}}</td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)=delete(e)>Delete</button>
                </td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)=update(e)>Edit</button>
                </td>
            </tr>
        </tbody>
    </table>

<div *ngIf="status">
    <h4 *ngIf="addressmanagement.length < 1">No Records Found</h4>
  </div>
    </div>